@model IEnumerable<MoshaverDataLayer.Model.Setting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int counter = 0;
}


<div class="col-sm-12">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <h2 class="pull-right">اطلاعات</h2>
                        @Html.ActionLink("افزودن", "Create", "Settings", new { @class = "btn btn-success " })
                    </div>
                </div>
            </div>

            <div class="editable-responsive">
                <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                    </div>
       
                </div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width:20px;">شماره</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label=: activate to sort column descending" style="width: 238px;">@Html.DisplayNameFor(model => model.NameStore)</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label=: activate to sort column descending" style="width: 238px;">@Html.DisplayNameFor(model => model.EmailStore1)</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label=: activate to sort column descending" style="width: 238px;">@Html.DisplayNameFor(model => model.TellPhone1)</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label=: activate to sort column descending" style="width: 238px;">@Html.DisplayNameFor(model => model.imageSrc)</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="فعالیت" style="width: 156px;">فعالیت</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    counter += 1;
                                    <tr class="gradeX odd" role="row">
                                        <td class="sorting_1">@counter</td>
                                        <td>
                                           @item.NameStore
                                        </td>
                                        <td>
                                            @item.EmailStore1
                                        </td>
                                        <td>
                                            @item.TellPhone1
                                        </td>
                                        <td>
                                            <img src="~/Content/images/Little/@item.imageSrc"  width="100" height="50" class="img-responsive" />
                                        </td>

                                        <td class="actions">
                                            <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                            <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>

                                            <a  data-toggle="tooltip" title="ویرایش"data-placement="bottom"class="on-default edit-row" href="/Admin/Settings/Edit/@item.Id"style="cursor:pointer;font-size:x-large;"><i class="fa fa-pencil"></i></a>
                                            &nbsp;
                                            <a  data-toggle="tooltip" title="حذف"data-placement="bottom"class="on-default remove-row"  style="font-size:x-large;cursor:pointer"href="/Admin/Settings/Delete/@item.Id"><i class="fa fa-trash-o"></i></a>
                                            &nbsp;
                                            <a data-toggle="tooltip" title="جزئیات"data-placement="bottom" class="on-default details" href="/Admin/Settings/Details/@item.Id" style="font-size:x-large;cursor:pointer"><i class="fa fa-info-circle"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end: panel body -->

</div> <!-- end panel -->





