@model MoshaverhAmlak.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "رمز عبور خود را فراموش کرده اید؟";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}



<div class="site-showcase">
    <!-- Start Page Header -->
    <div class="parallax page-header" style="background-image:url(/Content/images/page-header1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>فراموشی رمزعبور</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
</div>

<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="alert alert-default fade in no-close" style="opacity:0">

                        </div>
                    </div>
                  @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                  {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-xs-12 col-md-4 col-sm-8 login-form " style="color: black; BORDER-RADIUS: 5PX;  padding: 15px 16px; border: 1px solid; box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .8); position: relative; background: inherit;overflow: hidden;">
                            <h3>ورود</h3>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder = "آدرس ایمیل" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <br><br>
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        
                                @Html.ActionLink("انصراف", "Index", "Home", null, new { @class = "btn btn-primary", @style = "margin-right:28px;" })
                         
                            <br><br>
                            @Html.ActionLink("ثبت نام", "Register")
                            <br><br>
                            @Html.ActionLink("فراموشی رمزعبور", "ForgotPassword")
                        </div>

                    }
                

                  
                </div>
            </div>
        </div>
    </div>
</div>