@model MoshaverDataLayer.Model.Advertise

@{
    ViewBag.Title = "Details";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            <img src="~/Content/images/advertise/@Model.ImgPath" alt=" " width="150" height="40" class="img-responsive" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>

