@model PagedList.IPagedList<MoshaverDataLayer.Model.Melk>
@using PagedList.Mvc
@using MoshaverDataLayer.Context;
@{
    UnitOfWork db = new UnitOfWork();
}
<div class="site-showcase">
    <!-- Start Page Header -->
    <div class="parallax page-header" style="background-image:url(/Content/images/page-header1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>املاک من</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
</div>
<div class="main" role="main"id="some_grid_container">
    <div id="content" class="content full">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-heading" id="details">
                            <a href="/Home/InsertMelk" class="btn btn-sm btn-primary pull-right">افزودن ملک جدید <i class="fa fa-long-arrow-left"></i></a>
                            <h4><span class="heading-icon"><i class="fa fa-caret-left icon-design"></i><i class="fa fa-home"></i></span>لیست املاک</h4>
                        </div>
                        <div class="properties-table">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>تصویر</th>
                                        <th>نام</th>
                                        <th>نوع</th>
                                        <th>قرارداد</th>
                                        <th>قیمت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() != 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.ImgL != null)
                                                    {
                                                        <img src="~/Content/images/Melks/@item.ImgL" style="height:218.66px;width:328px" alt="">
                                                    }
                                                    else if (item.ImgS != null)
                                                    {
                                                        <img src="~/Content/images/Melks/@item.ImgS" style="height:218.66px;width:328px" alt="">
                                                    }
                                                    else if (item.ImgB != null)
                                                    {
                                                        <img src="~/Content/images/Melks/@item.ImgB" style="height:218.66px;width:328px" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/images/property1-map.jpg" style="height:218.66px;width:328px" alt="">
                                                    }
                                                </td>
                                                <td><a href="property-detail.html">@item.Title</a></td>
                                                <td>@db.TypeMelkRepository.GetAll(x => x.Id == item.typeMelkId).FirstOrDefault().typemelkname</td>
                                                <td>اجاره</td>
                                                <td><div class="price">@item.PriceAll.ToString("#,0تومان")</div></td>
                                                <td>
                                                    <a href="/Profile/Edit/@item.Id" class="action-button"><i class="fa fa-pencil"></i> <span>ویرایش</span></a>
                                                    <a href="/Profile/Details/@item.Id" class="action-button"><i class="fa fa-eye"></i> <span>جزئیات</span></a>
                                                    <a href="/Profile/Delete/@item.Id" class="action-button"><i class="fa fa-ban"></i> <span>حذف</span></a>
                                                </td>
                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <div class="alert alert-primary" role="alert">
                                          هیج ملکی ثبت نکردید!
                                        </div>
                                    }


                                </tbody>
                            </table>
                        </div>
                 
           

                    </div>
                </div>
                <div class="row">
                    <style>
                        .pagep1 {
                            display: inline-block;
                            margin-top: 1px;
                            margin-right: 0;
                            margin-bottom: 30px;
                        }

                            .pagep1 a {
                                /*color: black;*/
                                float: left;
                                padding: 10px 10px;
                                text-decoration: none;
                                transition: background-color .3s;
                                border: 1px solid #dee2e6;
                                box-shadow: 0 0 2rem 0 #f55a4eb5 inset;
                            }

                                .pagep1 a.active {
                                    background-color: darkgray;
                                    color: blue;
                                    border: 1px solid #4CAF50;
                                }

                                .pagep1 a:hover:not(.active) {
                                    background-color: darkslategrey;
                                }
                    </style>
                    <div class="pagedList pagep1 container " id="contentPager">
                        @Html.PagedListPager(Model, page => Url.Action("ShowMelk", "Account", new { page }),
                                    /*     PagedListRenderOptions.PageNumbersOnly*/
                                    //PagedListRenderOptions.Classic
                                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                                    {
                                        LinkToFirstPageFormat = "اولین",
                                        LinkToPreviousPageFormat = "قبلی",
                                        LinkToNextPageFormat = "بعدی",
                                        LinkToLastPageFormat = "آخرین",
                                        //DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                        //DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                        //DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                        //DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                        MaximumPageNumbersToDisplay = 7,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "some_grid_container" }))



                        @*<div class="pagedList">
                     @Html.PagedListPager(Model, page => Url.Action("PagingSortingAndSearching", new
                {
                    page,
                    sortOn = ViewBag.SortOn,
                    orderBy = ViewBag.OrderBy,
                    pSortOn =
                     ViewBag.SortOn,
                    keyword = ViewBag.Keyword
                }),
                 PagedListRenderOptions.ClassicPlusFirstAndLast)
                 </div>*@
                        @*@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("PagedListPager_Index", new { page, accountmenu = ViewBag.AccountMenu, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "<",
                    LinkToNextPageFormat = ">",
                    LinkToLastPageFormat = ">>",
                    //DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    //DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    //DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    //DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    MaximumPageNumbersToDisplay = 0,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "some_grid_container" }))*@

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

